@using Instagallery.Models
@model IEnumerable<PhotoModel>
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery-grid">
    @foreach (var photo in Model)
    {
        <div class="photo-item">
            <a href="@Url.Action("Details", "Photo", new { id = photo.Id })" class="lightbox-trigger">
                <img src="@photo.ThumbnailUrl" alt="@photo.Title" class="photo-thumbnail" />
            </a>
            <p>@photo.Title</p>
        </div>
    }
</div>

@section Scripts {
    <script src="/js/gallery.js"></script>
}
