@{
    ViewData["Title"] = "Welcome to InstaGallery!";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Your simple photo-sharing app</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Register</a>
</div>
